{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>{{ site.name }} {% trans "registration" %}</title>
</head>

<body>
<p>
   {% blocktrans with site_name=site.name %}
        If this wasn't you, please ignore this email and your address will be removed from our records.<br><br><br>
        <h2>BITSMUN 2017</h2>
        Hi,<br>
        Thank you for registering at {{ site_name }}. We are happy to host you at our fest.<br>
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
    To activate this account, please click the following link within the next
    {{ expiration_days }} days:
    {% endblocktrans %}
</p>

<p>
    <a href="http://bitsmungoa.in/{% url 'registration_activate' activation_key %}">
        http://bitsmungoa.in/{% url 'registration_activate' activation_key %}
    </a>
</p>
<p>
{% blocktrans %}

If the above links do not work, or you have any other issues regarding
your account, please contact administration at webadmin@bits-waves.org. Please don't reply to this mail.<br><br><br>

-Team Waves 2016

<br><br><br><br><br>
CONFIDENTIALITY NOTICE:
The contents of this email message and any attachments are intended solely for the addressee(s) and may contain confidential and/or privileged information and may be legally protected from disclosure. If you are not the intended recipient of this message or their agent, or if this message has been addressed to you in error, please immediately alert Waves Web Administrator at webadmin@bits-waves.org and then delete this message and any attachments. If you are not the intended recipient, you are hereby notified that any use, dissemination, copying, or storage of this message or its attachments is strictly prohibited.

{% endblocktrans %}
</p>
</body>

</html>