{% extends 'regbase.html' %}
{% load i18n %}

{% load crispy_forms_tags %}
{% block head %}
Login
{% endblock %}
{% block content %}



<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <input class='btn btn-block btn-success' type="submit" value="{% trans 'Submit' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>


<hr/>
<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Still not registered" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>

{% endblock %}
