 body
{
    margin: 0;
    padding: 0;

    background: #f2f5f7 url('images/bg2.jpg') no-repeat fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.stop-scrolling
{
    overflow: hidden;

    height: 100%;
}

@font-face
{
    font-family: 'Parchment';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/Parchment.ttf') format('truetype');
}

#loader
{
    z-index: 25;

    overflow: hidden;
}

.center
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 500px;
    height: auto;

    transform: translate(-50%,-50%);
}

.parallax
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.black
{
    background-color: #000 !important;
}

#mob_text
{
    font-size: 20px;

    position: absolute;
    top: 65%;

    box-sizing: border-box;
    width: 100%;
    padding: 20px;

    cursor: pointer;
    text-align: center;

    color: white;
}

#background
{
    position: absolute;
    z-index: 0;
    /*overflow: hidden;*/

    width: 636x;
    height: 469px;

    -webkit-transform-origin: 50% 50%;
    text-align: center;

    border-width: 0 !important;
}

#story
{
    position: absolute;
    /*very problamatic
    -z-index: 17;*/
    top: 20%;
    left: 30%;

    width: 40%;
    padding: 20px 20px;

    text-align: center;

    color: #eee;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .4);
}

#storyline
{
    position: absolute;
    bottom: 5vh;
    left: 15%;

    width: 70%;
    height: 20vh;
    padding: 20px 20px;

    text-align: center;

    color: #eee;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .4);
}

img
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

            user-drag: none;
    -webkit-user-drag: none;
}

a,
a:hover
{
    text-decoration: none;

    color: inherit;
}

.menu td
{
    -webkit-transition: -webkit-transform .3s .1s;
       -moz-transition:    -moz-transform .3s .1s;
            transition: color .7s;
            transition:         transform .3s .1s;
    -webkit-transform: translateY(12px);
       -moz-transform: translateY(14px);
        -ms-transform: translateY(14px);
         -o-transform: translateY(14px);
            transform: translateY(14px);

    color: rgba(44, 62, 80, 1);
}

.menu td:hover
{
    cursor: pointer;
    -webkit-transition: opacity .3s .1s, -webkit-transform .3s .1s;
       -moz-transition: opacity .3s .1s, -moz-transform .3s .1s;
            transition: color .7s;
            transition: opacity .3s .1s, transform .3s .1s;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);

    color: rgba(0, 0, 0, 1);
}
/*maintains transperency*/

#Layer3
{
    position: fixed;
    z-index: 1;
    top: -70px;
    left: 0;

    width: 100%;
    height: 100%;
}

#LeftTick
{
    position: absolute;
    z-index: 3;
    top: 127.7px;
    left: 504px;

    width: 279px;
    height: 412px;

    transform-origin: 216px 376px;
}

#RightTick
{
    position: absolute;
    z-index: 4;
    top: 127.7px;
    left: 504px;

    width: 335px;
    height: 412px;

    transform-origin: 215.5px 366px;
}

#Ring
{
    position: absolute;
    z-index: 5;
    top: 434px;
    left: 654px;

    width: 106px;
    height: 106px;
}

#Meter
{
    position: absolute;
    z-index: 6;
    top: 45px;
    left: 415px;

    width: 560px;
    height: 253px;
}

#TidesofTime
{
    position: absolute;
    z-index: 7;
    top: 555px;
    left: 523px;

    width: 345px;
    height: 57px;

    text-overflow: clip;
}

#layer_2016
{
    position: absolute;
    z-index: 8;
    top: 464px;
    left: 654px;

    width: 137px;
    height: 53px;
}

#S
{
    position: absolute;
    z-index: 9;
    top: 310px;
    left: 880px;

    width: 88px;
    height: 141px;
}

#E
{
    position: absolute;
    z-index: 10;
    top: 310px;
    left: 795px;

    width: 84px;
    height: 140px;
}

#A
{
    position: absolute;
    z-index: 11;
    top: 303px;
    left: 508px;

    width: 130px;
    height: 144px;
}

#W
{
    position: absolute;
    z-index: 12;
    top: 271px;
    left: 376px;

    width: 150px;
    height: 176px;
}

#layer_2015
{
    position: absolute;
    z-index: 13;
    top: 158px;
    left: 954px;

    width: 31px;
    height: 65px;
}

#layer_2006
{
    position: absolute;
    z-index: 14;
    top: 38px;
    left: 826px;

    width: 59px;
    height: 40px;
}

#layer_2000
{
    position: absolute;
    z-index: 15;
    top: 15px;
    left: 657px;

    width: 67px;
    height: 14px;
}

#layer_1995
{
    position: absolute;
    z-index: 16;
    top: 52px;
    left: 493px;

    width: 58px;
    height: 41px;
}

#layer_1990
{
    position: absolute;
    z-index: 17;
    top: 173px;
    left: 394px;

    width: 34px;
    height: 61px;
}

#Years
{
    position: absolute;

    transform-origin: 590px 100px;
}

@-webkit-keyframes scrollAnimation
{
    from
    {
        top: 0;

        opacity: 1;
    }
    to
    {
        top: 25px;

        opacity: .2;
    }
}

@-moz-keyframes scrollAnimation
{
    from
    {
        top: 0;

        opacity: 1;
    }
    to
    {
        top: 25px;

        opacity: .2;
    }
}

@keyframes scrollAnimation
{
    from
    {
        top: 0;

        opacity: 1;
    }
    to
    {
        top: 25px;

        opacity: .2;
    }
}

#arrows
{
    -webkit-animation: scrollAnimation .8s alternate linear infinite;
       -moz-animation: scrollAnimation .8s alternate linear infinite;
            animation: scrollAnimation .8s alternate linear infinite;
}

.scroll a
{
    text-decoration: none;

    color: inherit;
}

.scroll
{
    position: fixed;
    right: 47%;
    bottom: .75%;

    margin-right: 1.2%;

    text-align: center;

    color: #383838;
}

.menucon
{
    z-index: 30;
    top: 50%;

    padding-top: 2.5%;
}

.menu
{
    position: relative;
    /*z-index: 5;*/
    left: 20%;

    width: 60%;
    height: 18em;

    text-align: center;
}

.menu td
{
    width: 15%;
}

.submenu
{
    position: relative;
    z-index: 30;
    top: 8vh;
    left: 20%;

    width: 60%;
    height: 20vh;

    text-align: center;
}
/*@-webkit-keyframes bounceOutRight {
    0% {
       -webkit-transform: translateX(0);
    }
    20% {
       opacity: 1;
       -webkit-transform: translateX(-20px);
    }
    100% {
       opacity: 0;
       -webkit-transform: translateX(2000px);
    }
  }

 @keyframes bounceOutRight {
    0% {
       transform: translateX(0);
    }
    20% {
       opacity: 1;
       transform: translateX(-20px);
    }
    100% {
       opacity: 0;
       transform: translateX(2000px);
    }
 }*/
/*Timeline*/

#scaleDiv
{
    position: relative;
    /*overflow: hidden;*/
    z-index: 20;

    width: 614px;
    height: 142px;
}

#Logo
{
    position: absolute;
    z-index: 21;
    top: 2px;
    left: 540px;

    width: 200px;
    height: 100px;
}

#timeline
{
    position: absolute;
    z-index: 21;
    top: 89px;
    left: 335px;

    width: 579px;
    height: 30px;
}

#year1900
{
    position: absolute;
    z-index: 22;
    top: 116px;
    left: 333px;

    width: 55px;
    height: 33px;
}

#year1995
{
    position: absolute;
    z-index: 22;
    top: 55px;
    left: 476px;

    width: 55px;
    height: 35px;
}

#year2000
{
    position: absolute;
    z-index: 22;
    top: 118px;
    left: 604px;

    width: 53px;
    height: 31px;
}

#year2006
{
    position: absolute;
    z-index: 22;
    top: 56px;
    left: 745px;

    width: 53px;
    height: 34px;
}

#year2015
{
    position: absolute;
    z-index: 22;
    top: 119px;
    left: 865px;

    width: 53px;
    height: 30px;
}

#countdown-wrapper
{
    font-family: Aldrich;

    position: fixed;
    z-index: 30;
    bottom: 4.3%;
    left: 2.5%;

    text-align: left;

    background: none;
}

#countdown-wrapper td
{
    padding: 2%;

    text-align: center;
}
#countdown-wrapper tr:nth-child(even)
{
    font-size: 1em;
}
#countdown-wrapper tr:nth-child(odd)
{
    font-size: 1.5em;
    font-weight: bold;
}
#date
{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;

    position: fixed;
    top: 1%;
    right: 1%;
}
