 body
{
    margin: 0;
    padding: 0;

    background: #f2f5f7 url('images/bg2.jpg') no-repeat fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}


@font-face
{
    font-family: 'Parchment';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/Parchment.ttf') format('truetype');
}

#background
{
    position: relative;
    z-index: 0;
    top: 0;
    left: 146;
    text-align: center;
    overflow: hidden;

    width: 1280px;
    height: 742px;
    -webkit-transform-origin: 50% 50%;
    border-width: 0 !important;
    /*width: 100%;
    height: 100%;*/
    /*margin-right: auto;
    margin-left: auto;*/
}

#story
{
  position: absolute;
  top:20vh;
  left:30%;
  width:40%;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  border-radius: 15px;
  color: #eee;
  padding: 20px 20px;
}
#storyline
{
  position: absolute;
  bottom:5vh;
  left:15%;
  width:70%;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  border-radius: 15px;
  color: #eee;
  padding: 20px 20px;
  height: 20vh;
}

a
{
    text-decoration: none;

    color: inherit;
}

.menu td
  {
    color : rgba(44, 62, 80, 1);
      transition: color 0.7s;
      -webkit-transform: translateY(12px);
    -moz-transform: translateY(14px);
    -ms-transform: translateY(14px);
    -o-transform: translateY(14px);
    transform: translateY(14px);
    -webkit-transition: -webkit-transform 0.3s 0.1s;
    -moz-transition: -moz-transform 0.3s 0.1s;
    transition: transform 0.3s 0.1s;
  }

  .menu td:hover
  {
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
      transition: color 0.7s;
      -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 0.3s 0.1s, -webkit-transform 0.3s 0.1s;
    -moz-transition: opacity 0.3s 0.1s, -moz-transform 0.3s 0.1s;
    transition: opacity 0.3s 0.1s, transform 0.3s 0.1s;
    
  }

#Layer3
{
    position: absolute;
    z-index: 1;
    top: -70px;
    left: 0;

    width: 1280px;
    height: 959px;
}


#LeftTick
{
    position: absolute;
    z-index: 3;
    top: 127.7px;
    left: 504px;

    width: 279px;
    height: 412px;

    transform-origin: 216px 376px;
}

#RightTick
{
    position: absolute;
    z-index: 4;
    top: 127.7px;
    left: 504px;

    width: 335px;
    height: 412px;

    transform-origin: 215.5px 366px;
}

#Ring
{
    position: absolute;
    z-index: 5;
    top: 434px;
    left: 654px;

    width: 106px;
    height: 106px;
}

#Meter
{
    position: absolute;
    z-index: 6;
    top: 45px;
    left: 408px;

    width: 560px;
    height: 253px;
}

#TidesofTime
{
    position: absolute;
    z-index: 7;
    top: 555px;
    left: 523px;

    width: 345px;
    height: 57px;

    text-overflow: clip;
}

#layer_2016
{
    position: absolute;
    z-index: 8;
    top: 464px;
    left: 654px;

    width: 137px;
    height: 53px;
}

#S
{
    position: absolute;
    z-index: 9;
    top: 310px;
    left: 893px;

    width: 88px;
    height: 141px;
}

#E
{
    position: absolute;
    z-index: 10;
    top: 310px;
    left: 808px;

    width: 84px;
    height: 140px;
}

#A
{
    position: absolute;
    z-index: 11;
    top: 303px;
    left: 514px;

    width: 130px;
    height: 144px;
}

#W
{
    position: absolute;
    z-index: 12;
    top: 271px;
    left: 382px;

    width: 150px;
    height: 176px;
}

#layer_2015
{
    position: absolute;
    z-index: 13;
    top: 158px;
    left: 954px;

    width: 31px;
    height: 65px;
}

#layer_2006
{
    position: absolute;
    z-index: 14;
    top: 38px;
    left: 826px;

    width: 59px;
    height: 40px;
}

#layer_2000
{
    position: absolute;
    z-index: 15;
    top: 15px;
    left: 657px;

    width: 67px;
    height: 14px;
}

#layer_1995
{
    position: absolute;
    z-index: 16;
    top: 52px;
    left: 493px;

    width: 58px;
    height: 41px;
}

#layer_1990
{
    position: absolute;
    z-index: 17;
    top: 173px;
    left: 394px;

    width: 34px;
    height: 61px;
}


@-webkit-keyframes scrollAnimation
{
    from
    {
        top: 0; opacity: 1;
    }
    to
    {
        top: 25px; opacity: .2;
    }
}
@-moz-keyframes scrollAnimation
{
    from
    {
        top: 0; opacity: 1;
    }
    to
    {
        top: 25px; opacity: .2;
    }
}

@keyframes scrollAnimation
{
    from
    {
        top: 0; opacity: 1;
    }
    to
    {
        top: 25px; opacity: .2;
    }
}

#arrows
{
    -webkit-animation: scrollAnimation .7s alternate linear infinite;
       -moz-animation: scrollAnimation .7s alternate linear infinite;
            animation: scrollAnimation .7s alternate linear infinite;
}

.scroll a
{
    text-decoration: none;

    color: inherit;
}

.scroll
{
    position: fixed;
    right: 45%;
    bottom: 0.75%;

    margin-right: 1.2%;

    text-align: center;

    color: #e4e9ed ;
}

#continue :hover{
  transform: scale(1.05);
}

/*Timeline*/
#scale
{

  position: relative;

  width: 1280px;
  height: 200px;
  overflow: hidden;
  z-index:20;
}

.menucon
{
  top:40%;
}

.menu
{
  position: relative;
  z-index: 30;
  left:20%;
  width: 60%;
  text-align: center;
  height: 45vh;
}

.menu td
{
  width: 15%;
}
.menu tr
{
  
}

.submenu
{
  position: relative;
  z-index: 30;
  left:20%;
  width: 60%;
  height: 20vh;
  text-align: center;
  top: 8vh;
}

/*@-webkit-keyframes bounceOutRight {
    0% {
       -webkit-transform: translateX(0);
    }
    20% {
       opacity: 1;
       -webkit-transform: translateX(-20px);
    }
    100% {
       opacity: 0;
       -webkit-transform: translateX(2000px);
    }
  }
         
 @keyframes bounceOutRight {
    0% {
       transform: translateX(0); 
    }
    20% {
       opacity: 1;
       transform: translateX(-20px);
    }
    100% {
       opacity: 0;
       transform: translateX(2000px);
    }
 }*/

#Logo
{
	 left: 540px;
	 top: 2px;
	 position: absolute;
	 width: 200px;
	 height: 100px;
	 z-index:21;
}

#timeline
{
  left: 335px;
  top: 89px;
  position: absolute;
  width: 579px;
  height: 30px;
  z-index:21;
}

#year1900
{
  left: 333px;
  top: 116px;
  position: absolute;
  width: 55px;
  height: 33px;
  z-index:22;
}

#year1995
{
  left: 476px;
  top: 55px;
  position: absolute;
  width: 55px;
  height: 35px;
  z-index:22;
}

#year2000
{
  left: 604px;
  top: 118px;
  position: absolute;
  width: 53px;
  height: 31px;
  z-index:22;
}

#year2006
{
  left: 745px;
  top: 56px;
  position: absolute;
  width: 53px;
  height: 34px;
  z-index:22;
}

#year2015
{
  left: 865px;
  top: 119px;
  position: absolute;
  width: 53px;
  height: 30px;
  z-index:22;
}


