{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title %}
{% endblock %}
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background-color: #eee">

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <h2>Waves 2016</h2>
                    </a>
                    
                </li>
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src = "/media/{{ pic }}" style = "height:30px">   &nbsp;@{{ user.username }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="#">Help & Feedback</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Manage Teams</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/accounts/logout">Logout</a></li>
                </ul>
                    </li>
                <li>
                    <a href="{% url 'profile' %}">Profile</a>
                </li>
                <li>
                    <a href="{% url 'events' %}">Events</a>
                </li>
                <li>
                    <a href="#">Pro Nights</a>
                </li>
                <li>
                    <a href="{% url 'accommodation' %}">Accommodation</a>
                </li>
                <li>
                    <a href="#">Merchandise</a>
                </li>
                <li>
                    <a href="#">Transaction</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <h1>
                            {% block heading %}
                            {% endblock %}
                        </h1>
                        {% block content %}
                        
                        {% endblock %}
                      <!--   <h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
                        
                    </div>
                </div>
                <div class="row" style="bottom:0;position: fixed;text-align: right;width:75%">
                    <div class="col-sm-12">
                    <div style="border: solid 1px #ccc;"></div>
                    <div style="padding: 10px">
                    &copy; Waves 2016
                    </div>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <style type="text/css">
        .dropdown-menu li:hover
        {
            background-color: #999;
        }
    </style>

</body>

</html>
