{% extends 'base.html' %}

{% block title %}
Events - Waves 2016
{% endblock %}

{% block heading %}
Events
{% endblock %}

{% block content %}
<!-- <div class="row">
	<div class="col-sm-2 col-sm-offset-10">
		<img src = "/media/{{ pic }}" style = "height:100px">
	</div>
</div>
<br><br>
	<table class = "table table-striped">
            {% for field in u %}
    <tr>
    <td><b>{{ field.label }}</b></td><td> {{ field.data }}</td>
    </tr>
{% endfor %}
</table>
<a href="{% url 'fillprofile' %}"><button class = "btn btn-primary">Update Profile</button></a> -->
{% endblock %}