{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <title>
Waves 2016 | The tides of time
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body class="container-fluid">
<div class = "row">
<h1>Our Sponsors</h1>
<br>


<!-- <div class = "row">
<div class='col-sm-6 col-sm-offset-3' style="text-align: center;">
 <br><br><br>
      <h3 style = "font-family: Raleway"> Online Event </h3>
    <br><br><br>
</div>
</div> -->
<div class = "row">
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://www.himalayawellness.com" target="_blank"><img class = "eventpic" src="{% static 'img/himalaya.jpg' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://appyfizz.com" target="_blank"><img class = "eventpic" src="{% static 'img/fizz.jpg' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://www.smartprix.com" target="_blank"><img class = "eventpic" src="{% static 'img/smartprix.png' %}"></a>
</div>
</div>
</div>
<div class = "row">
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="https://www.radisson.com" target="_blank"><img class = "eventpic" src="{% static 'img/radisson.jpg' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://perkevents.in" target="_blank"><img class = "eventpic" src="{% static 'img/perk.png' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://www.wipro.com/india/" target="_blank"><img class = "eventpic" src="{% static 'img/wipro.png' %}"></a>
</div>
</div>
</div>

<div class = "row">
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://www.colorsofyouth.com" target="_blank"><img class = "eventpic" src="{% static 'img/youth.png' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://thirstybear.com" target="_blank"><img class = "eventpic" src="{% static 'img/thirstybear.jpg' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="https://www.redbull.com/in/en/music/events/1331702858344/red-bull-tour-bus" target="_blank"><img class = "eventpic" src="{% static 'img/tourbus.png' %}"></a>
</div>
</div>
</div>

<div class = "row">
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://www.colorsofyouth.com" target="_blank"><img class = "eventpic" src="{% static 'img/kirloskar.jpg' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://thirstybear.com" target="_blank"><img class = "eventpic" src="{% static 'img/gim.png' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="https://www.redbull.com/in/en/music/events/1331702858344/red-bull-tour-bus" target="_blank"><img class = "eventpic" src="{% static 'img/ace.png' %}"></a>
</div>
</div>
</div>




<div class = "row">
<h1>Our Associates</h1>
<br>


<!-- <div class = "row">
<div class='col-sm-6 col-sm-offset-3' style="text-align: center;">
 <br><br><br>
      <h3 style = "font-family: Raleway"> Online Event </h3>
    <br><br><br>
</div>
</div> -->
<div class = "row">
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://www.himalayawellness.com" target="_blank"><img class = "eventpic" src="{% static 'img/assoc/shankarmahadevan.png' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://appyfizz.com" target="_blank"><img class = "eventpic" src="{% static 'img/assoc/kher.png' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://www.smartprix.com" target="_blank"><img class = "eventpic" src="{% static 'img/assoc/missindia.jpg' %}"></a>
</div>
</div>
</div>
<div class = "row">
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="https://www.radisson.com" target="_blank"><img class = "eventpic" src="{% static 'img/assoc/indianidol.jpg' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://perkevents.in" target="_blank"><img class = "eventpic" src="{% static 'img/assoc/danceworx.jpg' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://www.wipro.com/india/" target="_blank"><img class = "eventpic" src="{% static 'img/assoc/campus-princes.jpg' %}"></a>
</div>
</div>
</div>

<div class = "row">
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://www.colorsofyouth.com" target="_blank"><img class = "eventpic" src="{% static 'img/assoc/thespo.jpg' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://thirstybear.com" target="_blank"><img class = "eventpic" src="{% static 'img/assoc/galf.png' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="https://www.redbull.com/in/en/music/events/1331702858344/red-bull-tour-bus" target="_blank"><img class = "eventpic" src="{% static 'img/assoc/ibf.png' %}"></a>
</div>
</div>
</div>

<div class = "row">
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://www.colorsofyouth.com" target="_blank"><img class = "eventpic" src="{% static 'img/assoc/iconiimb.gif' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://thirstybear.com" target="_blank"><img class = "eventpic" src="{% static 'img/assoc/indianmime.jpg' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="https://www.redbull.com/in/en/music/events/1331702858344/red-bull-tour-bus" target="_blank"><img class = "eventpic" src="{% static 'img/assoc/kuma.png' %}"></a>
</div>
</div>
</div>

<div class = "row">
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://www.colorsofyouth.com" target="_blank"><img class = "eventpic" src="{% static 'img/assoc/nalsar.jpg' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://thirstybear.com" target="_blank"><img class = "eventpic" src="{% static 'img/assoc/ncpa.png' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="https://www.redbull.com/in/en/music/events/1331702858344/red-bull-tour-bus" target="_blank"><img class = "eventpic" src="{% static 'img/assoc/swarnabhoomi.png' %}"></a>
</div>
</div>
</div>

<div class = "row">
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://www.colorsofyouth.com" target="_blank"><img class = "eventpic" src="{% static 'img/assoc/ski.png' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="http://thirstybear.com" target="_blank"><img class = "eventpic" src="{% static 'img/assoc/partymap.jpg' %}"></a>
</div>
</div>
<div class='col-sm-4' style="text-align: center;">
<div class="eventcard card-1">
     <a href="https://www.redbull.com/in/en/music/events/1331702858344/red-bull-tour-bus" target="_blank"><img class = "eventpic" src="{% static 'img/assoc/savio.jpg' %}"></a>
</div>
</div>
</div>


<div class='col-sm-6 col-sm-offset-3' style="text-align: center;">

<h4>For general queries, mail to info@bits-waves.org</h4>
<h4>For web-related issues, mail to webadmin@bits-waves.org</h4>
</div>

</div>
<style type="text/css">
    h1
    {
        font-size: 3.5em;
        font-family: Pacifico;
        text-align:center;
        text-decoration: underline;
        -moz-text-decoration-color: yellow; /* Code for Firefox */
        text-decoration-color: yellow;
    }
	body
	{
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url("{% static 'img/eventswall.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 30px 200px !important;
        color: #ddd;
	}
    .panel-transparent {
        background: none;
    }

    .panel-transparent .panel-heading{
        background: rgba(122, 130, 136, 0.9)!important;
    }

    .panel-transparent .panel-body{
        background: rgba(46, 51, 56, 0.8)!important;
    }
    .eventcard
    {
        margin: 30px 20px;
        padding: 15px 25px;
        background-color: #fff;
        color: #444;
        font-family: Roboto;
        height: 400px;
        text-align: center;
        line-height: 400px;
    }

    .eventpic
    {
        max-width:100%;
        max-height:90%;
        vertical-align: middle;
    }

    .card-1 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

    .eventdesc
    {
        height: 100px;
    }
    
   /* .vcenter
    {
        padding:50px 50px;
    }*/
</style>
<script src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript">
    $('.vcenter').css('padding-top',(($(window).height()- $('.vcenter').height())/2))
</script>
</body>
</html>