{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
	<title>Waves 2016</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css">
	<script src="https://use.fontawesome.com/1a7fce54c7.js"></script>
</head>

<body>
	<button id="myBtn" class="btn btn-default" style="z-index:1000;position: absolute; top: 0.5%; left: 0.2%;">Pre-Waves | Biswa Kalyan Rath</button>

	<!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close" style="margin-right:5px;font-size:1.7em;" data-dismiss="modal"><strong>&times;</strong></span>
			<img src="{% static 'img/biswa.jpg' %}" style="width:100%">
		</div>

	</div>

	<div id="WavesLogo" style="position:fixed;width:100%;height:100%;">
		<div id="loader" class="parallax black">
			<img style="width: 100%; height: 100%;" src="{% static 'images/loader.gif' %}" alt="Gif">
			<div id="mob_text">

			</div>
		</div>
		<div id="WavesLogo" style="position:fixed;width:100%;height:auto;">
			<div id="background" class="my-center" data-230p=" opacity: 1" data-300p=" opacity: 0; display:block;" data-330p="display: none">


				<div id="LeftTick" data-0="opacity:0; transform: rotate(-20.45deg)" data-5p="opacity:1;" data-200p="transform: rotate(0deg)">

					<img src="{% static 'images/LeftTick.png' %}">

				</div>
				<div id="RightTick" data-0="opacity:0; transform: rotate(-73.3deg)" data-5p="opacity:1;" data-50p="transform: rotate(-52.94deg)" data-100p="transform: rotate(-30.8deg)" data-150p="transform: rotate(-12.6deg)" data-200p="transform: rotate(3deg)">
					<img src="{% static 'images/RightTick.png' %}">
				</div>
				<div id="Ring" data-0p="opacity:0; transform: scale(1)" data-5p="opacity:1;" data-200p="transform: scale(1.005)"><img src="{% static 'images/Ring.png' %}"></div>

				<div id="TidesofTime" data-150p="display:none; margin-top:10000px;" data-175p="display:block; margin-top: 100px;" data-200p="margin-top: -10px;" data-220p="margin-top: 0px;" data-230p="opacity:1;" data-270p="opacity:0;">
					<img src="{% static 'images/TidesofTime.png' %}">
				</div>

				<div id="layer_2016" data-150p="transform: scale(0);" data-210p="transform: scale(1);">
					<img src="{% static 'images/layer_2016.png' %}">
				</div>

				<div id="WAES" data-180p="opacity: 0;" data-220p=" opacity:1; transform: scale(1.03);">
					<div id="S"><img src="{% static 'images/S.png' %}"></div>
					<div id="E"><img src="{% static 'images/E.png' %}"></div>
					<div id="A"><img src="{% static 'images/A.png' %}"></div>
					<div id="W"><img src="{% static 'images/W.png' %}"></div>
				</div>

				<div id="Years" data-190p="!transform: scale(0.83);" data-220p="!transform: scale(1);" data-230p="opacity:1;" data-270p="opacity:0;">
					<div id="Meter" data-0p="opacity: 0;" data-20p=" opacity:1;">
						<img src="{% static 'images/Meter.png' %}">
					</div>
					<div id="layer_2015" data-190p="opacity: 0;" data-200p=" opacity:1;">
						<img src="{% static 'images/layer_2015.png' %}">
					</div>
					<div id="layer_2006" data-140p="opacity: 0;" data-160p=" opacity:1;">
						<img src="{% static 'images/layer_2006.png' %}">
					</div>
					<div id="layer_2000" data-90p="opacity: 0;" data-100p=" opacity:1;">
						<img src="{% static 'images/layer_2000.png' %}">
					</div>
					<div id="layer_1995" data-40p="opacity: 0;" data-60p=" opacity:1;">
						<img src="{% static 'images/layer_1995.png' %}">
					</div>
					<div id="layer_1990" data-20p="opacity: 0;" data-30p=" opacity:1;">
						<img src="{% static 'images/layer_1990.png' %}">
					</div>
				</div>
			</div>
		</div>

		<div id="Header" style="position:fixed;width:100%;height:100%;">
			<div id="story" data-0p="opacity: 1;" data-20p="opacity: 0;">
				<h2>Folks, The time has come, We are here with lots of memories...</h2>
				<h2>Lock your place in the journey against time.</h2><br>
				<h3><strong>Scroll</strong> to experience this mysterious adventure.</h3>
				<style type="text/css">
					h2 {
						font-family: 'Raleway', sans-serif;
					}

					h4 {
						font-family: 'Roboto', sans-serif;
					}

					td {
						font-family: 'Raleway', sans-serif;
						font-size: 105%;
					}

					a:hover {
						text-decoration: none;
					}
				</style>

			</div>

			<!-- <div id="storyline" data-20="opacity:0" data-30p="opacity:1" data-190p="opacity:1" data-210p="opacity:0">
			<div data-20p="display: none;" data-30p="display:block;" data-41p="display: none;">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut purus accumsan tortor ultricies euismod. Nunc egestas varius dolor, et mattis augue posuere vitae. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
					Nulla facilisi. Nullam ut rutrum massa. Aliquam et consectetur lacus, vel posuere nibh. Vestibulum nec quam ac quam facilisis fermentum eget sagittis enim. Duis sapien arcu, cursus vitae vulputate in, viverra eu magna. Vestibulum fringilla pulvinar
					urna, at convallis enim maximus eget. Vestibulum eget cursus orci. Aliquam erat volutpat.</p>
			</div>
			<div data-39p="display: none;" data-60p="display:block;" data-90p="display: none;">
				<p>Donec ut malesuada nibh. Mauris vitae purus nisl. Donec condimentum, urna non tincidunt sagittis, nisl metus facilisis sem, eget venenatis nunc tortor nec mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
					egestas. Ut nec turpis volutpat lectus iaculis tempor ac a libero. Quisque pharetra blandit vehicula. Cras eget massa ultrices, accumsan nulla pellentesque, consequat tellus.</p>
			</div>
			<div data-90p="display: none;" data-100p="display:block;" data-140p="display: none;">
				<p>Maecenas purus est, tincidunt sit amet pulvinar eu, maximus a nibh. Phasellus auctor ante vel pharetra accumsan. Cras iaculis, mi a imperdiet facilisis, mi magna maximus ex, ut tempus velit nibh et nulla. Etiam in diam fermentum, tempor sem sit amet,
					rutrum nibh. Sed maximus urna sed dui aliquet, vel dapibus lacus auctor. Mauris hendrerit in justo ac blandit. Praesent eget augue nisl.</p>

			</div>
			<div data-140p="display: none;" data-160p="display:block;">
				<p>Donec ut malesuada nibh. Mauris vitae purus nisl. Donec condimentum, urna non tincidunt sagittis, nisl metus facilisis sem, eget venenatis nunc tortor nec mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
					egestas. Ut nec turpis volutpat lectus iaculis tempor ac a libero. Quisque pharetra blandit vehicula. Cras eget massa ultrices, accumsan nulla pellentesque, consequat tellus.</p>
			</div>
		</div> -->
			<div id="scaleDiv" class="my-center" data-300p="opacity: 0;" data-330p="opacity: 1;">
				<div id="Logo"><img src="{% static 'images/Logo.png' %}"></div>
				<div id="timeline"><img src="{% static 'images/scale.png' %}"></div>
				<div id="year1900"><img src="{% static 'images/year1900.png' %}"></div>
				<div id="year1995"><img src="{% static 'images/year1995.png' %}"></div>
				<div id="year2000"><img src="{% static 'images/year2000.png' %}"></div>
				<div id="year2006"><img src="{% static 'images/year2006.png' %}"></div>
				<div id="year2015"><img src="{% static 'images/year2015.png' %}"></div>
			</div>
			<div class="menucon">
				<table class="menu" data-300p="opacity:0;" data-330p="opacity:1">
					<tr>
						<td><a href="/pronights"><i class="fa fa-fire fa-4x" aria-hidden="true"></i><br>Pro Nites</td>
					<td><a href="/events"><i class="fa fa-camera-retro fa-4x" aria-hidden="true"></i><br>Events</td>
					<td><a href="/sponsors"><i class="fa fa-flag-checkered fa-4x" aria-hidden="true"></i><br>Sponsors</td>
					<td><a href="/hospitality"><i class="fa fa-building-o fa-4x" aria-hidden="true"></i><br>Hospitality</td>
				</tr>
				<tr>
					<td><a href="/previousyear"><i class="fa fa-paper-plane-o fa-4x" aria-hidden="true"></i><br>Previous Year</td>
					<td><a href="/sightseeing"><i class="fa fa-pagelines fa-4x" aria-hidden="true"></i><br>Sightseeing</td>
					<td><a href="/contact"><i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i><br>Contact</td>
					<td><a href="/team"><i class="fa fa-users fa-4x" aria-hidden="true"></i><br>Team</td>
				</tr>
			</table>
			<table class="submenu" data-300p="opacity:0;" data-330p="opacity:1">
				<tr>
					<td><a href="/accounts/register"><i class="fa fa-anchor fa-2x" aria-hidden="true"></i><br>
						Register</a></td>
						<td><a href="/profile/"><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i><br>
						Login</a></td>
					</tr>
					<tr>
						<td colspan="2">
							<hr>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<a href="https://www.instagram.com/wavesbits/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>&nbsp;&nbsp;
							<a href="https://www.facebook.com/bitswaves/" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>&nbsp;&nbsp;
							<a href="https://twitter.com/bitswaves" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
						</td>
					</tr>
					<tr>
						<td colspan="2">All rights reserved, <i class="fa fa-copyright" aria-hidden="true"></i> Waves, 2016</td>
					</tr>

				</table>

			</div>
		</div>



		<div id="play" class="scroll" aria-hidden="true" data-0="display:block; opacity: 1;" data-30="display:none; opacity: 0;">
			<i id="arrows" class="fa fa-angle-double-down fa-5x"></i>
			<br>
		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="{% static 'js/skrollr.min.js' %}"></script>
		<script type="text/javascript">
			//detemining if the device is a mobile device
			var x = screen.width;
			var y = window.innerWidth;
			var z = window.devicePixelRatio;
			var phyWidth = x;

			if (phyWidth > 450) {

				setTimeout(function() {
					var s = skrollr.init({
						smoothScrolling: true,
						mobileDeceleration: 0.004,
					});

				}, 500);
				$(window).load(function() {
					$('#loader').delay(500).fadeOut(function() {
						$(this).css("display", "none");
					});
				});
			} else {
				$('#mob_text').append('<a href="/mobile">Click here to go Mobile site!</a>');
				$('#Header').css("display", "none");
				$('#WavesLogo').css("display", "none");
			}
		</script>
		<script type="text/javascript">
			$(document).ready(function() {
				btn.click();
			});
		</script>
		<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
		<script type="text/javascript">
			//managing modal events
			var modal = document.getElementById('myModal');

			// Get the button that opens the modal
			var btn = document.getElementById("myBtn");

			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close")[0];

			// When the user clicks on the button, open the modal
			btn.onclick = function() {
				modal.style.display = "block";
			}

			// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
				modal.style.display = "none";
			}

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			}

			//esc key dismisses the modal
			document.onkeydown = function(evt) {
				evt = evt || window.event;
				var isEscape = false;
				if ("key" in evt) {
					isEscape = (evt.key == "Escape" || evt.key == "Esc");
				} else {
					isEscape = (evt.keyCode == 27);
				}

				if (isEscape) {
					modal.style.display = "none";
				}
			};
		</script>
</body>

</html>
