{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title %}
{% endblock %}
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body class="container-fluid">
<div class = "row vcenter">
<div class='col-sm-4 col-sm-offset-4'>
<div class="panel panel-primary panel-transparent">
<div class="panel-heading">
{% block head %}
{% endblock %}
</div>
<div class="panel-body">
{% block content %}
{% endblock %}
</div>
</div>
</div>
</div>
<style type="text/css">
	body
	{
		background-image:url("{% static 'img/wavesbackground.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        back
	}
    .panel-transparent {
        background: none;
    }

    .panel-transparent .panel-heading{
        background: rgba(122, 130, 136, 0.9)!important;
    }

    .panel-transparent .panel-body{
        background: rgba(46, 51, 56, 0.8)!important;
    }
    
   /* .vcenter
    {
        padding:50px 50px;
    }*/
</style>
<script src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript">
    $('.vcenter').css('padding-top',(($(window).height()- $('.vcenter').height())/2))
</script>
</body>
</html>